:root{
    --text-color: #333;
    --warning-color: #FFC107;
    --caution-color: #FF9800;
    --danger-color: #F44336;
    --neutral-color: #fff;
    --safety-color: #008000;
    --violet-color: #c300ff;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    position: relative;
}

body {
    margin: 0;
    width: 100%;
}